* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.main {
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    flex-direction: column;
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

h1 {
    margin: 10px 0px 30px 0px;

    color: rgb(0, 6, 90);
    font-size: 50px;
}

.gallery {
    display: grid;
    height: 800px;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.gallery__item {
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.gallery__item img:hover {
    transform: scale(1.2);
}

@media (max-width: 550px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal img {
    width: 50%;
    object-fit: cover;
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

.main a { 
    float:left;
  }



.nextBtn,
.prevBtn {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  padding: 10px 22px;
  margin-top: -10px;
  color: #9e97b1;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #29272e;
  text-decoration: none;
}
.prevBtn {
  left: 200px;
  border-radius: 0 5px 5px 0;
}
.nextBtn {
  right: 200px;
  border-radius: 5px 0 0 5px;
}
#prevm:hover,
.prevBtnnhover {
  background-color: #322c42;
}